@import 'media_queries';

@media (max-width: #{$tablet-width}) {
  .nav {
    position: fixed;
    background-color: white;
    height: 45px;
    width: 100%;
  }
  .navList  {
    padding: 0;
    list-style: none;
    height: 100%;
    text-align: center;
  }
  .decoration {
    float: left;
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
  .decoration:hover {
    transform: scale(1.3);
  }
}

@media (min-width:#{$tablet-width+1px}) and (max-width:#{$desktop-width}) {
  .nav {
    position: fixed;
    background-color: white;
    height: 30px;
    width: 100%;
  }
  .navList  {
    padding: 0;
    list-style: none;
    height: 100%;
    text-align: center;
  }
  .decoration {
    float: left;
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
  .decoration:hover {
    transform: scale(1.2);
  }
}

@media (min-width:#{$desktop-width+1px}) {
  .nav {
    position: fixed;
    background-color: white;
    height: 45px;
    width: 100%;
  }
  .navList  {
    padding: 0;
    list-style: none;
    height: 100%;
    text-align: center;
  }
  .decoration {
    float: left;
    font-size: 28px;
    text-decoration: none;
    color: black;
  }
  .decoration:hover {
    transform: scale(1.2);
  }
}

* {
  box-sizing: border-box;
	margin: 0;
}
body {
  font-size: 14px;
	background-color: #f7f7f7;
}

.mainFloatRight{
  width:100%;
}

.orange{
  width:100%;
  height:600px;
  background-image: url(../photos/seascape.jpg);
  background-size: cover;
  background-position: center;
}
.green{
  width:100%;
  height:600px;
  background-image: url(../photos/glade.jpg);
  background-size: cover;
  background-position: center;
}
.red{
  width:100%;
  height:600px;
  background-image: url(../photos/sunsetII.jpg);
  background-size: cover;
  background-position: center;
}
.blue{
  width:100%;
  height:600px;
  background-image: url(../photos/sea.jpg);
  background-size: cover;
  background-position: center;
}
.pink{
  width:100%;
  height:600px;
  background-image: url(../photos/lake.jpg);
  background-size: cover;
  background-position: center;
}
.grey{
  width:100%;
  height:600px;
  background-image: url(../photos/scene.jpg);
  background-size: cover;
  background-position: center;
}
.purple{
  width:100%;
  height:600px;
  background-image: url(../photos/lilac.png);
  background-size: cover;
  background-position: center;
}
.black{
  width:100%;
  height:600px;
  background-image: url(../photos/shadow-tree.jpg);
  background-size: cover;
  background-position: center;
}


.orangeLi{
  color:orange;
}
.greenLi{
  color:green;
}
.redLi{
  color:red;
}
.blueLi{
  color:blue;
}
.pinkLi{
  color:pink;
}
.greyLi{
  color:grey;
}
.purpleLi{
  color:purple;
}
.blackLi{
  color:black;
}
