._12pWY {
    width: 100%;
}
._3zHBV {
    border-left: none !important;
}
._2wECY {
    background: #f4f4f4;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    clear: both;
    margin: 20px;
    padding: 14px 0 0;
    width: 455px;
}

._3vr2A {
    margin: 0 15px;
    text-align: center;
}

._2l0In {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    outline-style: none;
    outline-width: 0;
    text-decoration: none;
}

._3twuL {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 245px;
    width: 100%;
}
.VnUbV {
    border-radius: 8px;
    color: #fff;
    font-family: "Helvetica Neue", ​arial, ​sans-serif;
    height: 216px;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
}

._3z2JE {
    font-size: 6.93pt;
    padding-bottom: 2.64px;
}

._3zkWa {
    font-size: 14.08pt;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    max-height: 144px;
}

._3t0px {
    max-height: 200px;
    overflow: hidden;
    padding: 20px 13.2px;
    text-overflow: ellipsis;
}
.rnHNr {
    background: #efefef;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    clear: both;
    margin: 20px;
    padding: 0 50px 20px;
    text-align: center;
}

._1iEwG {
    color: #555;
    font-size: 18px;
    margin: 20px 0 14px;
    text-align: center;
}

.v666X {
    min-height: 250px;
}

._1ZeZ6 {
    width: 236px;
}
._36bkW {
    min-width: 500px;
}

._22dr- {
    background: #efefef;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    clear: both;
    margin: 20px;
}

._2McYA {
    color: #555;
    font-size: 18px;
    margin: 20px 0 14px;
    text-align: center;
}

._1DMY9 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 20px;
    padding: 10px;
    position: relative;
}

._3I6fE {
    color: #555;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    padding-bottom: 15px;
    text-decoration: none;
}

.vdgV1 {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    height: auto;
    line-height: 18px;
    margin: 0 3px 6px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._19Sp5 {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    float: right;
    height: 16px;
    margin-left: auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
}

._3Q2_y {
    background-color: #eee;
    border-radius: 8px 8px 0 0;
    clear: both;
    height: 146px;
    overflow: hidden;
    position: relative;
    width: auto;
}

._2AS4l {
    border-radius: 8px 8px 0 0;
    height: 146px;
    width: 236px;
}

.qJMvV {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 111px;
    margin: 0 auto;
    padding: 0;
    width: 236px;
}

.N49Fh {
    width: 100%;
}

/* clear */

.qJMvV::after {
    clear: both;
    content: "";
    display: table;
}

.qJMvV li {
    display: inline;
    float: left;
    height: 100%;
    margin: 5px 0;
    margin-left: 2px;
    padding: 0;
    position: relative;
    width: 100%;
}

.qJMvV li:first-child img {
    border-bottom-left-radius: 8px;
}

.qJMvV li:last-child img {
    border-bottom-right-radius: 8px;
}

._1qtAQ {
    height: 100%;
    width: 100%;
}
._3IQVi {
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    min-width: 500px;
}

._1b6ec {
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 0;
    width: auto;
}

._3dJxP {
    border-bottom: 1px solid #e7e7e7;
    color: #333;
    font-size: 20px;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 17px 18px 13px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._1Zc-H {
    font-style: normal;
    font-weight: bold;
}

._9BExj {
    background: #fff;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #dadada;
    clear: both;
    padding: 10px 20px;
}

._9BExj::after {
    /* Clearfix */
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.QTxt7 {
    -webkit-font-smoothing: antialiased;
}

.QTxt7 a {
    /* TODO: (bryan) - Use gestalt styles when they become available */
    background-color: #bd081c;
    background-image: none;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.15px;
    line-height: 16px;
    margin-left: 8px;
    padding: 10px 14px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    text-shadow: none;
    word-spacing: 0;
}

._2y9W_ {
    text-decoration: none;
}
._3Dbxw {
    outline: none;
    width: 320px;
}

._3dedm {
    background-color: #fff;
    border-radius: '6px';
    margin: '0 auto';
    max-width: 460px;
    width: 'auto';
}

._23rov {
    border-bottom: 1px solid #e7e7e7;
    color: #333;
    font-size: 20px;
    margin: 0;
    min-height: 20px;
    padding: 17px 50px 13px 18px;
    padding-right: 50px;
    position: relative;
}

._3u_5p {
    background: -webkit-linear-gradient(#ededed, #f9f9f9);
    background: linear-gradient(#ededed, #f9f9f9);
    border-radius: 0 0 6px 6px;
    padding: 15px 20px;
    position: relative;
}

._3u_5p input {
    height: 31px !important; /* override styles from third party library */
    width: 100%;
}

.Wgei4 {
    float: left;
    font-size: 13px !important;
    margin: -1px;
    padding: 6px 12px 7px !important;
}

._2H0HH {
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .31) inset;
    height: 31px;
    overflow: hidden;
    position: relative;
    top: -1px;
}

._2H0HH span {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
    margin-left: 7px;
    margin-top: 4px;
    overflow: hidden;
    padding: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._3pmKY {
    cursor: pointer;
    display: block;
    -webkit-font-smoothing: antialiased;
    padding: 2px 23px;
    position: relative;
}

._3CNi6 {

    background-color: #f5f5f5;
}

.NOnrO {
    background-color: #bd081c;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    color: #efefef;
    cursor: pointer;
    display: none;
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    line-height: 18px;
    margin-top: 6px;
    outline: none;
    padding: 9px 12px;
    white-space: nowrap;
}

._3HwDc {
    display: inline-block;
    position: relative;
}

._3AvS8 {

    -webkit-animation: nt9_x .5s linear infinite;

            animation: nt9_x .5s linear infinite;
    border-radius: 50%;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff;
    height: 18px;
    margin: 0 10px;
    top: -1px;
    width: 18px;
}

@-webkit-keyframes nt9_x {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes nt9_x {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

._3UHIC {

    border-bottom: 3px solid #fff;
    border-radius: 0;
    border-right: 3px solid #fff;
    height: 14px;
    margin: 0 14px;
    top: -1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: border-radius, border-right, height, margin, width, -webkit-transform;
    transition-property: border-radius, border-right, height, margin, width, -webkit-transform;
    transition-property: border-radius, border-right, height, margin, transform, width;
    transition-property: border-radius, border-right, height, margin, transform, width, -webkit-transform;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    width: 7px;
}

._3F_sI {
    display: inline-block;
    fill: #fff;
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 10px;
}

._3CNi6 > .NOnrO {
    display: block;
}

._2X6AN {
    display: inline-block;
    fill: #b5b5b5;
    float: right;
    height: 14px;
    margin-left: 5px;
    margin-top: 16px;
    width: 14px;
}

._3CNi6 > ._2X6AN {
    display: none;
}

._2vWmE {
    background: #efefef;
    border-radius: 3px;
    display: inline-block;
    height: 36px;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
    width: 36px;
}

._2j3ML {
    height: 100%;

    /* margin placement for centering */
    margin-left: -5px;
    max-width: inherit;
}

._1Y35m {
    color: #555;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -.25px;
    line-height: 34px;
    margin: 7px 0;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

._1psBp {
    font-size: 14px;
}

._1Y35m > em {
    border-bottom: 1px solid #333;
    font-style: normal;
    padding-bottom: 1px;
}

._3CNi6 > ._1Y35m {
    max-width: 95px;
}
._27Uvs {
    cursor: pointer;
    display: block;
    height: 35px;
    padding: 0 24px;
}

.GkuY9 {

    background-color: #f5f5f5;
}

._7soTg {
    border: 0;
    color: #b5b5b5;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -.25px;
    line-height: 35px;
    margin: 0;
}

.GkuY9 ._7soTg {
    color: #555;
}

.nkTlk {
    fill: #b5b5b5;
    float: left;
    height: 20px;
    margin: 7px 16px 7px 8px;
    width: 20px;
}

.GkuY9 .nkTlk {
    fill: #555;
}
._3O7dR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-flow: column;
        flex-flow: column;
}

._16E52 {
    padding-bottom: 20px;
}

._2Vm-C {
    -webkit-animation: _2hrg5 .8s linear infinite;
            animation: _2hrg5 .8s linear infinite;
    border-radius: 50%;
    border-right: 4px solid transparent;
    border-top: 4px solid #bd081c;
    content: '';
    height: 32px;
    margin: auto;
    position: relative;
    width: 32px;
}

@-webkit-keyframes _2hrg5 {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes _2hrg5 {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

._1kWbN > header {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.22px;
    line-height: 16px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 23px;
}

._1kWbN > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
._2BfMu {
    background: #fff;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .01em;
    outline: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

.s74b- {

    border-top: 1px solid #f5f5f5;
    line-height: 48px;
    width: 100%;
}

._1W05s {

    background-color: #f5f5f5;
}

._3F0lf {

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    border-radius: 0 0 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 64px;
            flex: 0 1 64px;
    min-height: 64px;
}

._7zUmi {

    background-color: #f5f5f5;
}

._2Omr4 {
    display: block;
    fill: #bd081c;
    float: left;
    height: 36px;
    margin-left: 23px;
    margin-right: 12px;
    vertical-align: middle;
    width: 36px;
}

.s74b- > ._2Omr4 {
    margin-top: 6px;
}

.VTtYv {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #555;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5px;
}

._3ZQDk {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #555;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
}
._2e57r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -ms-flex-flow: column;
        flex-flow: column;
    min-height: 0;
    overflow-y: auto;
}

._1H5SA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 0;

    /*  36px is height of spinner and 52 is height of a board row. There are max 3 rows */
}

._2Tayj {
    height: 156px; /* total 3 row height */
}

._2v9u6 {
    display: block;
}

.O6zBz {
    border-bottom: 1px solid #f5f5f5;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
}

._3F4kI {
    border-bottom: 1px solid #f5f5f5;
    overflow-y: scroll;
}

@media screen\0 {
    ._3F4kI {
        height: 350px; /* IE fix: overflow scroll property works when explicit height of container is defined */
    }
}

.O6zBz > div, ._3F4kI > div {
    border-bottom: 1px solid #f5f5f5;
}

.O6zBz > div:last-child, ._3F4kI > div:last-child {
    border-bottom: none;
}

.EPYpg {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}

._2AY7s {
    list-style: none;
    margin: 0;
    padding: 0;
}

._2AY7s > header {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.22px;
    line-height: 16px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 23px;
}

._2AY7s > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

._1D0yc {
    border-bottom: 1px solid #f5f5f5;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 0 23px 15px;
    position: relative;
}

._31do- {
    fill: #b5b5b5;
    height: 20px;
    left: 35px;
    position: absolute;
    top: 13px;
    width: 18px;
}

._2ghyn {
    background-color: #f5f5f5;
    border: 1px solid #efefef;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #333;
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    padding: 13px 13px 13px 44px;
    width: 100%;
}

._1detl {
    -webkit-animation: V-Dt5 .8s linear infinite;
            animation: V-Dt5 .8s linear infinite;
    border-radius: 50%;
    border-right: 4px solid transparent;
    border-top: 4px solid #bd081c;
    content: '';
    height: 32px;
    margin: auto;
    position: relative;
    width: 32px;
}

@-webkit-keyframes V-Dt5 {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes V-Dt5 {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

._1pQjN {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}
._2qUwU {
    background: -webkit-linear-gradient(#ffef9c, #ffda66);
    background: linear-gradient(#ffef9c, #ffda66);
    background-color: #ffe581;
    border-radius: 4px;
    color: #7e4300;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    margin: 0 23px 12px;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}

.C78cv > a {
    color: #bd081c;
    font-weight: bold;
}
._3uyGu {
    border-top-right-radius: 6px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

._3F7N3 {
    color: #333;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    padding: 25px 25px 13px;
}
._2eKwC {
    background-color: #fff;
    border-left: 1px solid #f5f5f5;
    border-radius: 0 8px 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    left: 330px;
    min-width: 330px;
    position: absolute;
    top: 0;
    width: 330px;
}

._1gX7S {
    left: 0;
    width: 100%;
}

._2WZYp {

    opacity: 0;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    visibility: hidden;
}

.odt8N {

    opacity: 1;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    visibility: visible;
}

._3e6XN {
    color: #555;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    padding: 25px 25px 13px;
}

._1oLlW {
    border-bottom: 1px solid #efefef;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 10px;
}

.ZC7PU {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

._2Bu7f {
    margin: 0;
}

._8ptw5 {
    color: #c2c2c2;
    cursor: default;
    display: block;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    letter-spacing: .05em;
    margin-bottom: 4px;
    pointer-events: none;
    text-transform: uppercase;
}

.z4DQg {
    border: 0;
    box-shadow: none;
    color: #333;
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    outline: none;
    padding: 6px;
    width: 95%;
}

._38NHi {
    color: #bd081c;
}

._2WLam {
    font-size: 13px;
    margin: 6px 0 0;
}

._2sAd4 {
    color: #bd081c;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0;
    text-align: center;
}

._2Cq83 {
    background: #e6abad;
    border: 1px solid #bd081c;
    border-radius: 3px;
}

._2Cq83::-webkit-input-placeholder {
    color: #fff;
}

._2Cq83::-moz-placeholder {
    color: #fff;
}

._2Cq83:-ms-input-placeholder {
    color: #fff;
}

._2Cq83::placeholder {
    color: #fff;
}

._3tCEP {
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    box-shadow: none;
    height: 28px;
    pointer-events: none;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 70px;
}

._1w6mq {

    background-color: #f8f8f8;
}

.EyPut {

    background-color: #bd081c;
}

.mDoQp {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    bottom: -1px;
    box-shadow: none;
    display: inline-block;
    height: auto;
    position: absolute;
    top: -1px;
    width: 27px;
}

._3lx16 {

    left: -1px;
}

._2E_lI {

    left: 44px;
}

.x9rk9 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    position: absolute;
}

.C3hjw {

    color: #555;
    right: 15px;
    top: 6px;
}

._3DWWY {

    color: #fff;
    left: 14px;
    top: 6px;
}

._3Pkri {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    pointer-events: all;
    width: 100%;
}

.sEoMF {
    border-top: 1px solid #efefef;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    padding: 25px;
}

._2fSkm {
    border: 0;
    border-radius: 4px;
    color: #5f5f5f;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -.2px;
    line-height: 18px;
    outline: none;
    padding: 10px 14px;
    white-space: nowrap;
    word-spacing: 0;
}

.E9EXF {

    background-color: #efefef;
    float: left;
}

._1YqdM {

    background-color: #bd081c;
    color: #fff;
    float: right;
}

.oHufg {

    background: #ebebeb;
    color: #aaa;
    cursor: default;
    float: right;
}

._2BSdI {
    /* spin icon made through css */
    -webkit-animation: _2FNNZ .8s linear infinite;
            animation: _2FNNZ .8s linear infinite;
    border-radius: 50%;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff;
    display: inline-block;
    height: 18px;
    margin: 0 10px;
    position: relative;
    width: 18px;
}

._14x6t {
    -webkit-animation: _2FNNZ .8s linear infinite;
            animation: _2FNNZ .8s linear infinite;
    border-radius: 50%;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff;
    display: inline-block;
    height: 8px;
    margin: 0 10px;
    position: relative;
    top: -1px;
    width: 8px;
}

@-webkit-keyframes _2FNNZ {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes _2FNNZ {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
._2iD4v {
    border-left: 1px solid #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-font-smoothing: antialiased;
    width: 330px;
}

._3tZby {
    width: 100%;
}

.u4oYO {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    width: inherit;
}

.mcZku {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 10px;
    position: absolute;
    right: 14px;
    top: 18px;
    z-index: 1;
}

._1awe5 {
    display: inline-block;
    fill: #b5b5b5;
    height: 16px;
    width: 16px;
}

._1awe5:hover {
    fill: #999;
}

._2mjRg {
    color: transparent;
    font: 0 / 0 serif;
    position: absolute;
}
._1cWZi {
    border: none;
    color: #333;
    display: inline-block;
    font-family: 'Helvetica Neue', 'Helvetica', '\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', 'Meiryo', '\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF', arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.15px;
    line-height: 16px;
    margin: 5px 0 6px;
    overflow: hidden;
    resize: none;
    width: 165px;
    word-spacing: 0;
    word-wrap: break-word;
}

._1cWZi:hover {
    background-color: #e3e9ed;
}

._1cWZi:focus {
    outline: none;
    overflow: scroll;
    width: 196px;
}

._1cWZi:hover:focus {
    background-color: #fff;
}

.BjQWR {
    color: #999;
}

.bl6xb {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    float: right;
    margin-top: 6px;
    outline: none;
}

._1UYqa {
    display: inline-block;
    fill: #b5b5b5;
    height: 14px;
    width: 14px;
}

._1UYqa:hover {
    fill: #999;
}

._1X82l {
    border-radius: 8px;
    max-height: 550px;
    overflow: hidden;
}

.l5pW8 {
    border-radius: 8px;
    max-height: 320px;
    overflow: hidden;
}

.lViIo {
    border: 0;
    border-radius: 8px;
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
}

._3SqSE {
    padding: 8px 8px 0;
}

.G6fJt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 330px;
    position: relative;
    width: 330px;
}

._1ZvdI {
    color: #444;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -.2px;
    max-width: 180px;
}

._1E15i {
    width: 216px;
}
/* TODO: delete this file, move all brio PinPane to gestalt. this is just temporary for shaping */
._6B-PI {
    border: none;
    color: #444;
    display: inline-block;
    font-family: 'Helvetica Neue', 'Helvetica', '\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', 'Meiryo', '\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF', arial, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.2px;
    line-height: 20px;
    margin: 5px 0 6px;
    overflow: hidden;
    resize: none;
    width: 165px;
    word-spacing: 0;
    word-wrap: break-word;
}
._6B-PI:focus {
    outline: none;
    overflow: scroll;
    width: 196px;
}
._3uRYv {
    color: #999;
}
._3at-n {
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
._3TcMk {
    display: inline-block;
    fill: #b5b5b5;
    height: 14px;
    width: 14px;
}
._3TcMk:hover {
    fill: #999;
}
.uqtAc {
    padding: 8px 8px 0;
}
.nvbJb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
._1Ipvl {
    bottom: -32px;
    left: 0;
    position: absolute;
}

.iZBW4 {
    float: left;
    margin-left: 10px;
}

._2Ajza {
    display: none;
}

.KUSbA {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}

._2zNeN {

    fill: #d9d9d9;
}

._2ugnH {

    fill: #fff;
}

.iZBW4:hover ._2zNeN {
    fill: #fff;
}

._1JXjD {
    cursor: pointer;
    display: block;
    height: 18px;
}

.fnUva {
    display: inline-block;
    float: left;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin-left: 7px;
}

._821vY {

    color: #fff;
}

.qYKcJ {

    color: #d9d9d9;
}

.iZBW4:hover .fnUva {
    color: #fff;
}
._3xKbO {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    height: 660px;
    position: relative;
    width: 660px;
}

.q0oKz {
    background: #fff;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

._1xAtS {
    margin: 0;
    width: 100%;
}
._2rroF {
    background-color: #fff;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 460px;
    outline: none;
    width: auto;
}

._3QiUt {
    overflow: hidden;
}

._15gOf {
    background: #f0f0f0;
    border-radius: 0 0 6px 6px;
    padding: 19px;
}

._15gOf button {
    margin-left: 10px;
}

._15gOf input {
    border: 1px solid #d6d3ce;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .12) inset;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    margin-left: 10px;
    padding: 7px;
    width: 80%;
}

._15gOf form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

._1QC6S {
    background: -webkit-linear-gradient(#fff7cb, #fff4b7);
    background: linear-gradient(#fff7cb, #fff4b7);
    border-bottom: 1px solid #e7e7e7;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 18px;
}

._1QC6S a {
    color: #bd081c;
}

._1iGFQ p {
    margin: 0;
}

._1BnjI {
    border-bottom: 1px solid #e7e7e7;
    color: #333;
    font-size: 20px;
    margin: 0;
    min-height: 20px;
    padding: 17px 50px 13px 18px;
    padding-right: 50px;
    position: relative;
}

._31vdI {
    color: #bd081c;
    margin: 10px 0 0 10px;
}
._29eG8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    height: 528px;
    margin: auto;
    position: relative;
    width: 660px;
}

.zgT79 {
    background: #fff;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: 660px;
}

.BNlvy {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 10px;
    position: absolute;
    right: 14px;
    top: 18px;
    z-index: 1;
}

.j9oXm {
    display: inline-block;
    fill: #b5b5b5;
    height: 16px;
    width: 16px;
}

.j9oXm:hover {
    fill: #999;
}

._23fB- {
    color: transparent;
    font: 0 / 0 serif;
    position: absolute;
}

.xCPiY {
    background: #2ab6dd;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    left: 0;
    opacity: .95;
    padding: 15px 40px;
    text-align: center;
    width: 100%;
}

._2M_oI {
    background: #42d321;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    left: 0;
    opacity: .95;
    padding: 15px 40px;
    text-align: center;
    width: 100%;
}

._2yWsA {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.zJVm3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
}

.q5set {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
._1PLut {
    cursor: pointer;
}

._3rkxP:active {
    -webkit-transform: scale(.95);
            transform: scale(.95);
}

._3rkxP {
    border-radius: 6px;
    display: block;
    min-width: 130px;
    padding-bottom: 100%;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    width: 100%;
}

._22sET {
    min-width: 106px;
}

._1ya97 {
    background: #fff;
    background-size: cover;
    border-radius: 6px;
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    width: 100%;
}

._1ya97::after {
    background: #000;
    border-radius: 6px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
}

._1ya97:hover {
    opacity: 1;
}

.CRcyx {
    bottom: 0;
    display: block;
    left: 0;
    padding: 8px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.CRcyx div {
    overflow: hidden;
    text-overflow: ellipsis;
}

._3DBIo {
    color: #fff;
    display: block;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: left;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    width: 100%;
}

._1t--X {
    text-align: left;
}

._2GFqz {
    text-align: center;
}

._3Q9Zf {
    text-align: right;
}

._8C6AR h2 {
    font-size: 13px;
}

._8C6AR h3 {
    font-size: 11px;
    font-weight: normal;
}

._32C30 h2 {
    font-size: 16px;
}

._32C30 h3 {
    font-size: 12px;
    font-weight: normal;
}

._24wZc {
    font-weight: bold;
}

._32C30 ._1zk1T {
    margin-top: 8px;
}

._8C6AR ._1zk1T {
    display: none;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
}

._8C6AR:hover ._1zk1T {
    display: block;
}
._2JbXo {
    border-radius: 50%;
    width: 100%
}

._2JbXo:hover {
    opacity: .85
}

._1QY6v {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
._2J84l {
    color: #444;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 8px;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._1wUs3 {
    color: #b5b5b5;
    font-size: 12px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    text-align: center;
}
._27Hhm {
    display: inline-block;
    margin: 8px 0 24px;
    max-width: 236px;
    padding-left: 4px;
}

._2HVxL {
    height: 236px;
    overflow: hidden;
    position: relative;
    width: 236px;
}

a._2JjT7 :hover {
    cursor: pointer;
}

._2QEdQ {
    background-color: #efefef;
    height: 117px;
    position: absolute;
    vertical-align: top;
    width: 117px;
}

._11y-B {
    border-bottom-left-radius: 8px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 0;
    left: 0;
}

.R7FOP {
    border-bottom-right-radius: 8px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 0;
    right: 0;
}

.DBrhs {
    background-color: #efefef;
    display: inline-block;
}

._2pNqC {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top-left-radius: 8px;
    left: 0;
    top: 0;
}

._20ZjW {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top-right-radius: 8px;
    right: 0;
    top: 0;
}
._1j-RU {
    display: inline-block;
    margin-bottom: 16px;
    padding-left: 4px;
}
._1eNo0 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

._1Lsss {
    text-align: center;
}

._274ng {
    width: 100%;
}
._23hlc {
    max-height: 570px;
    overflow: auto;
}

.EdNNC {
    overflow-x: hidden;
}

._3M9IT {
    margin: 0;
    position: relative;
}

._1Rc9h {
    padding-left: 6px;
}

._8qgf- {
    text-align: center;
}
._15kKz {
    background-color: #fff;
    border-radius: 8px;
}
._3uBSZ {
    border: 1px solid #c7c7c7;
}

._1qbzs {
    border-color: #d4d4d4;
}

._11Pux {
    border: 1px solid #d4d4d4;
}

._9b_x9 {
    border-radius: 4px;
}

._3zs98 {
    font-size: 20px;
}

._9ytXY {
    font-size: 16px;
}

._1W9IN {
    font-size: 14px;
}

._1pKjF {
    font-size: 12px;
}

.nkMiQ {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

._2SgYx {
    margin: 20px;
}

._22eUE {
    margin: 10px;
}

._1Enl3 {
    padding: 20px;
}

._1Mvtm {
    padding: 10px;
}

._1jk4J {
    padding: 10px 0;
}

._17cz9 {
    width: 1236px;
}

._2IYnh {
    color: #555;
}

.RniU5 {
    color: #333;
}

.zsTA4 {
    color: #bd081c;
}
._2Crs5 {

    background: #fff;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    outline: 0;
    padding: 7px 10px
}

._2Crs5:hover {
    background: #eee
}

._2Crs5:active {
    background: #c7c7c7
}

._2ycQM {

    background: #bd081c;
    color: #fff
}

._2ycQM:hover {
    background: #b0071a
}

._2ycQM:active {
    background: #930616
}

._1rXvr {

    background: #efefef
}

._1rXvr:hover {
    background: #e3e3e3
}

._1rXvr:active {
    background: #c7c7c7
}

._2ycQM,
._1rXvr {

    border: none;
    height: 32px;
}
._2znpR {
    overflow: hidden;
}

._21bBT {

    font-weight: bold;
    margin-bottom: 4px;
}

._3FXsY {

    color: #b5b5b5;
    font-weight: 500;
}

._9ccba {

    background-color: #efefef;
    border: none;
    color: #878787;
    font-family: Menlo;
    font-size: 13px;
    white-space: pre-line;
}

._3FXsY,
._9ccba {
    margin-bottom: 10px;
}

._17AZd {
    color: #bd081c;
    font-weight: bold;
}

._2bOZD {
    color: #0058ff;
    font-weight: bold;
}

.josDy {

    background-color: #efefef;
    border: none;
    box-shadow: none;
    float: right;
    font-weight: bold;
    height: 32px;
    width: 92px;
}
._1STMF {

    font-weight: bold;
    margin-bottom: 4px;
}

._3qUIo {

    color: #b5b5b5;
    font-weight: 500;
}

._1oY_d {

    height: 30px;
    padding: 0 10px;
    width: 678px;
}

.dVs3Z {

    font-weight: bold;
}

._3qUIo,
._1oY_d,
.dVs3Z {
    margin-bottom: 10px;
}

._2Jnz7 {

    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

._3W7u- {
    margin-right: 5px;
}
.V6cJZ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.cG9Yj {

    font-weight: bold;
    margin-bottom: 4px;
}

._182tr {

    color: #b5b5b5;
    font-weight: 500;
}

._3DOqn {
    color: #b5b5b5;
    font-weight: bold;
}

._-9sbW {
    margin: 20px 0;
    width: 300px;
}

._3Go0f {

    font-weight: bold;
    padding-bottom: 5px;
}

._1Ji1S {

    font-weight: 500;
    margin-bottom: 15px;
}

._1FIm- {

    background-color: #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Menlo;
    font-weight: bold;
    height: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 30px;
}
._3fZKk {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    height: 121px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

._27x5P {

    margin: 0 auto;
    max-width: 1236px;
}

.zKQn0 {

    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
}

.SY8yP {

    font-weight: 500;
    margin-top: 3px;
}

._1e5yK {
    padding-top: 121px;
    position: relative;
}

._22GMO {

    -webkit-box-align: start;

        -ms-flex-align: start;

            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
    padding: 30px 0;
}

._22GMO button {
    min-width: 92px;
}

._2-feG {

    background-color: #fff;
    margin-bottom: 15px;
    padding: 30px;
    width: 700px;
}

._1qBEP {
    font-weight: bold;
}

._22Pbj {

    font-weight: bold;
    margin-bottom: 4px;
}

._7IIT4 {

    font-weight: 500;
    margin-bottom: 20px;
}

._3vpDA {

    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

._1Fb2O {
    margin-right: 5px;
}

._1jhk_ {

    padding: 10px 30px;
    text-align: center;
    width: 700px;
}

._7IIT4,
._1jhk_ {
    color: #b5b5b5
}

._7IIT4 a, ._1jhk_ a {
    color: #b5b5b5;
}
._1bkwH {

    background: #fff;
    margin-left: 15px;
    padding: 30px;
    width: 450px;
}

._3JAYy {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

._1zpla {

    font-weight: bold;
    margin-bottom: 4px;
}

._2kyky {

    text-align: left;
}

._3dD1R {
    width: 120px;
}

.DKUFI {
}

._2kf6H {
    margin-top: 10px;
}
._1TfrH {
    cursor: pointer;
}

._2zqTq:focus {
    outline: none;
}

._3-WpI {

    border-top-style: solid;
    border-top-width: 1px;
    text-align: left;
}

.RUdVD td {
    padding: 0;
}

.bCXUr {
    margin-bottom: 10px;
}

._3KlYs {

    font-weight: bold;
}

._1HPrY {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

._2npTL {
}

.GVddl {
    font-size: 24px;
    position: absolute;
}

.QzsSn {
    margin-left: 12px;
}

._3D3yZ {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2-kPM {
    cursor: default;
    font-weight: bold;
}

._2-kPM .GVddl {
    display: none;
}
._2ZefR {

    background-color: #fff;
}

._2ZefR tr:nth-child(odd) {
    background: #f8f8f8;
}

._2ZefR tr:nth-child(even) {
    background: #fff;
}

._1jXaM {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 20px;
}

._2shBx {

    font-weight: bold;
}

._3lUxX {

    color: #b5b5b5;
    font-weight: 500;
}

._27_Q2 {

    font-weight: bold;
}

._2h0ic {
    background: #fff;
    height: 35px;
    padding: 0 20px;
    width: 140px;
}

._1H_v2 {
    background: #fff;
    width: 90px;
}

._3a24O {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.uxUZ2 {

    font-weight: 500;
    padding: 0 20px;
}

._3qrST {

    border-left: 4px solid #bd081c;
}

.uxUZ2, ._3qrST {
    position: relative;
}

._19b0I {

    color: #b5b5b5;
    margin-left: 15px;
}

.Ozr_p {

    cursor: pointer;
}

._1Jwif, .NM5gB {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    font-weight: bold;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 20px;
}

._1Jwif {
}

.NM5gB {
}

._2AwUb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 10px;
}

._2VMR0 {

    box-shadow: none;
    line-height: 16px;
    padding: 7px 10px;
}

._1mn3M {
    background: none;
    border: none;
    bottom: 0;
    box-shadow: none;
    left: 0;
    outline: 0 !important;
    position: absolute;
    top: 0;
    width: 100vw;
}
._38aJq {
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    height: 121px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

._332O9 {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    margin: 0 auto;
}

._1_I3Z {

    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
}

._1_VeF {

    color: #211922;
    margin-top: 3px;
}

._2o9Gs {

    empty-cells: show;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
    top: 121px;
}

._1Er8Y {

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 301px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

._2_Np7 {
    height: 56px;
}

._2rfhY {

    font-weight: bold;
    padding: 5px;
}

.Yg2W3 {

    color: #b5b5b5;
    font-weight: 500;
    text-align: center;
    width: 358px;
}

._24VH8 {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
}

._2RZnw {

    -webkit-box-align: end;

        -ms-flex-align: end;

            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

._2ZOIo {
    display: inline-block;
    margin-right: 5px;
}
._1gTLS {
    border: none;
    border-radius: 6px;
    height: 136px;
    padding: 0;
    position: relative;
    text-align: center;
}

._2BnRX {
    border: none;
    border-radius: 6px;
    height: 136px;
    opacity: .08;
    padding: 0;
    position: relative;
    text-align: center;
    width: 136px;
}

._11SRy {
    background-color: #f13535;
}

._3AG8v {
    background-color: #e2780d;
}

._3US1G {
    background-color: #0fa573;
}

._1FMuX {
    background-color: #0084ff;
}

._3NGaN {
    background-color: #b469eb;
}

._1gTLS:focus {
    outline: none;
}

._1gTLS._3nory {
    cursor: default;
}

._3syX_ {
    position: absolute;
    right: 25%;
    top: 35px;
}
._2wtMd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

._318l4,
.x9oxr,
._3uXVU {
    border: 1px solid #efefef;
    cursor: pointer;
    display: block;
    font-size: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    height: 40px;
    padding: 32px 0 32px 32px;
    position: relative;
}

._318l4:hover, ._3uXVU {
    background-color: #efefef;
}

._12Vex {
    color: #555;
    padding-left: 16px;
    position: absolute;
    text-align: center;
    top: 30px;
    vertical-align: middle;
}

._318l4:hover ._12Vex {
    color: #0fa573;
}

._318l4:hover g,
._3uXVU g {
    fill: #0fa573;
    stroke: #0fa573;
}

._3AkXl {
    font-size: 40px;
    height: 100%;
    margin-left: 30px;
    padding: 0;
}

._2no8c {
    color: #bd081c;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}

.IdrAJ {
    height: 100px;
}

._3CFC0 {
    margin: 32px auto;
    width: 736px;
}

._1gA6F {
    position: absolute;
    right: 5px;
    top: 5px;
}

._1jLNk {
    color: #555;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}

._3oBSF {
    color: #aaa;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}

._3htYZ {
    border: 1px solid #efefef;
    border-style: solid none none;
    height: 600px;
}

._1F_t2 {
    height: 368px;
    overflow-y: hidden;
    padding-top: 80px;
}

.IdrAJ input[type="radio"] {
    display: none;
}

.IdrAJ input[type=text] {
    background: transparent;
    border: none;
    color: #555;
    font-size: 36px;
    font-weight: bold;
    margin-left: 30px;
    width: 600px;
}
.CoGGB {
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
}

._2ErzO {
    height: 136px;
    width: 136px;
}

.CoGGB:focus {
    outline: none;
}

._26ObY {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.CoGGB._9jRcs {
    cursor: default;
}

._3ydjz {
    background-color: #000;
    border-radius: 6px;
    height: 100%;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

._21q7k {
    bottom: 8px;
    left: 5%;
    position: absolute;
    width: 90%;
}

._2BGJH {
    position: relative;
    top: 48px;
}

._11S_F {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
}

._2oFm8 {
    background-color: #bd081c;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    line-height: 128px;
    text-align: center;
    width: 100%;
}
/* TODO(dalvarez): Clean up unnecessary CSS */
._2AGzg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
._1-hFK {
    margin: 62px auto 50px;
    width: 736px;
}
._1-hFK._3A7SW {
    margin: 40px auto 20px;
}
.VGEFd {
    float: right;
}
.R9vv8 ._1-hFK {
    margin: 24px auto 20px;
}
._3VIk2 ._1-hFK {
    width: 585px;
}
._2DhZq {
    position: absolute;
    right: 5px;
    top: 5px;
}
._2QpQE {
    color: #bd081c;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}
._2lK49 {
    color: #555;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}
._2Lc_c {
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 88px;
}
._3MLvK {
    height: 368px;
    overflow-y: scroll;
    padding-bottom: 73px;
}
._3MLvK._3Eqb6 {
    height: 520px;
}
._3MLvK._3Eqb6._1Xi6i {
    height: 100%;
}
.R9vv8 ._3MLvK {
    height: 100%;
}
._3MLvK ._39Frf {
    width: 750px;
}
._3MLvK ._39Frf ._2_0bp {
    margin-bottom: 14px;
    margin-top: 0;
}
._3MLvK .PHeDR {
    min-height: 100px;
}
._3ZceD {
    margin-top: 4px;
}
._4GsFQ {
    background-color: #fff;
    color: #aaa;
    font-size: 14px;
    margin: 0 32px 20px;
    position: relative;
}
._4GsFQ b {
    color: #3d3d3d;
}
._1mHYt {
    margin-bottom: 10px;
    margin-left: 32px;
}
.QFxgQ {
    margin-bottom: 0;
}
.QFxgQ ._39Frf {
    margin-bottom: 0;
}
._1nTJc {
    background: #fff;
    border-radius: 8px;
    display: block;
    height: 100px;
    text-align: center;
    width: 100%;
    z-index: 104;
}
.fYa0W {
    background: -webkit-linear-gradient(transparent, rgba(255, 255, 255, 1));
    background: linear-gradient(transparent, rgba(255, 255, 255, 1));
    border-radius: 6px;
    bottom: 0;
    height: 73px;
    margin-top: -73px;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
.fYa0W.Kne49 {
    bottom: 73px;
}
._1nTJc ._3JfLl {
    -webkit-font-smoothing: antialiased;
}
._1-1y6 {
    border: 0 !important;
    border-radius: 6px;
    box-shadow: none !important;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    line-height: 29px;
    margin: 20px;
    width: 760px;
}
._3VIk2 ._1-1y6 {
    width: 585px;
}
._1A5ne {
    background: #ebebeb !important;
    border-radius: 6px;
    box-shadow: none;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    line-height: 29px;
    margin: 20px;
    text-shadow: 0 0 0 !important;
    width: 760px;
}
._1-1y6:enabled {
    background: #bd081c;
    color: #fff;
}
._39Frf._22S0m._2M1CC > ._2_0bp {
    padding: 14px 7px 0 !important;
    width: 136px !important;
}
._2E7At {
    width: 586px;
}
._3kzRe {
    width: 610px;
}
._1Xi6i {
    height: 100%;
}
._3YxU7 {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 19px;
    margin: 0 0 5px;
    outline: none;
    outline-offset: 0;
    padding: 0;
    text-decoration: underline;
}

._3YxU7::-moz-focus-inner {
    border: none;
    padding: 0;
}
._29Y-3 {
    background: #fff;
    height: 640px;
    max-height: calc(100vh - 40px);
    width: 800px;
}

._29Y-3:focus {
    outline: none;
}

._2Z8_i {
    color: #d3d3d3;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 19px;
    position: absolute;
    right: 16px;
    text-align: right;
    top: 16px;
}

._34w5W {
    display: inline-block;
}

._3l8e- {
    height: 100vh;
    max-height: 100vh;
    width: 650px;
}

._3i9ig {
    border-radius: 6px 6px 0 0;
    height: 100%;
}

._2gvda {
    width: 626px;
}
._1M6Ws,
._32XYH,
._2o3Da {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
}

._2o3Da {
    background-color: #efefef;
}

._32XYH {
    background-color: #1a1e23;
}
body {
    overflow: visible;
}

._2DHlt {
    position: absolute;
    top: 0;
}

._1miKN {
    box-sizing: border-box;
    display: inline-block;
    font-size: 11px;
    padding: 10px;
    width: 236px;
}

._9uhzo {
    border-radius: 8px;
    display: block;
    margin-bottom: 6px;
    position: relative;
}

.kincP {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
}

._1nymz {
    margin: 0;
    max-width: 145px;
    position: relative;
}

._3jTFN {
    color: #0084ff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

._2DlyF {
    color: #444;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 0;
}

._1RJFC {
    color: #333;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 4px;
    margin-top: 0;
}

._2usQm {
    color: #b5b5b5;
    font-style: normal;
    font-weight: bold;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 1px;
}

._2U1b5 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

._3ecue,
._3ecue img {
    border-radius: 50%;
    float: left;
    height: 36px;
    margin-right: 6px;
    width: 36px;
}

._1Uecv {
    color: #555;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}

._2nCyi {
    color: #555;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}
._3N8OU {

    background: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

._3JlCR {

    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

._1myx_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 5px 20px;
}

._3TuFE {
    margin-right: 10px;
}

.yZrH0 {
    font-weight: bold;
    margin-right: 20px;
    width: 205px;
}

._3upso {
    overflow-wrap: break-word;
    width: 583px;
}
._1adMo {

    background: #fff;
    width: 356px;
}

._2jzXd {

    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 20px;
    font-weight: bold;
}

._1AOUG {
    padding: 15px 20px;
}

._3dM61 {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
}

.qIVpH {
    background-color: transparent;
    border: none;
    color: #717171;
    font-weight: bold;
}
._1xcDu {

    background: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

._2pLGs {

    border-left: 0;
    border-right: 0;
    border-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5px;
}

._3uV-P {
    display: inline-block;
    margin-right: 10px;
}

._3s55E {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 5px 20px;
}

._2U6U2 {
    font-weight: bold;
    margin-right: 20px;
    width: 205px;
}

.F_Xwb {
    overflow-wrap: break-word;
    width: 583px;
}

._2vxN- {
    margin-left: 20px;
}

._26q0S {
    height: 300px;
    resize: vertical;
    width: 862px;
}
._2r9YJ {

    background: #fff;
}

._iIqU {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.YRS6n {
    margin-right: 20px;
    width: 205px;
}

._2ppR1 {
    -webkit-box-flex: 50px;
        -ms-flex-positive: 50px;
            flex-grow: 50px;
}

._3m_8h {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

._1Rmc- {
    color: #666;
    font-size: 14px;
    line-height: 21px;
}

._2yfaw {

    background: #fff;
    color: #333;
    font-size: 14px;
    padding: 7px;
    width: 587px;
}

._239tH {

    border-top: 0;
    max-height: 200px;
    overflow: scroll;
}

._241_r {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}
._1wB05 {

    margin: 0 auto;
    padding: 30px 0;
    position: relative;
}

._3Gr8f {
    margin-left: 366px;
    width: 870px;
}

._2_mwL {
    left: 0;
    position: absolute;
}

._296u_ {
    margin-bottom: 10px;
}
._3wC7P {
    display: inline-block;
    float: none;
    padding: 24px 12px;
    vertical-align: top
}

    @media screen and (max-width: 450px) and (orientation: portrait),
        screen and (max-width: 800px) and (orientation: landscape) {

    ._3wC7P {
        padding: 10px 5px
    }
    }
._3RXJ- {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}

._1lB54 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}
._1IING {
    margin: auto;
    width: 200px;
}

._2EIKF {
    border-radius: 50%;
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

._11Q9W {
    display: block;
    margin: 5px;
    text-align: left;
}

._1pvRv {
    margin: 10px;
    text-align: center;
}

._3Ln6s {
    margin-right: 5px;
}
._1blUB {
    background-color: #fff;
    border-radius: 8px;
}
/*
This file duplicates some functionality from
https://github.com/pinterest/gestalt/blob/master/src/IconButton/IconButton.css
It's only intended for experimental icons that are not yet part of gestalt (and may never be)
*/

._264R6 {
    background: transparent;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

._264R6 svg {
    vertical-align: middle;
}

._264R6:hover,
._264R6:focus {
    background-color: #dedede;
}

._264R6:active path {
    fill: #555;
}

/*# sourceMappingURL=extracted-76cb74fe619499af0e78b217e88f63af.css.map*/